/* Reset some default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body {
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.container {
    background-color: rgb(181, 240, 193);
    width: 500px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 10px 40px 10px rgba(105, 11, 11, 0.1);
    text-align: center;
}

header {
    margin-bottom: 10px;
}

.header-content {
    text-align: center;
    color:  #051e37;
}

.logo {
    width: 80px;
    margin-bottom: 10px;
}

h1 {
    font-size: 30px;
    margin-bottom: 5px;
    color: #020d17;
}

p {
    font-size: 19px;
    margin-bottom: 20px;
    color: #42483f;
}

.form-container {
    margin-top: 1px;
}

h2 {
    color: #022a07;
    font-size: 22px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
    text-align: start;
}

label {
    display: block;
    font-size: 14px;
    color: #020e1b;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #010d16;
    font-size: 14px;
    color: #064223;
}

input[type="file"] {
    padding: 5px;
}

input:focus,
select:focus {
    outline: none;
    border-color: #2d0d61;
}

.phone-input {
    display: flex;
}

.phone-input select {
    width: 30%;
    margin-right: 10px;
}

button.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #0b8038;
    color: rgb(241, 233, 233);
    border: rgb(96, 153, 11);
    border-radius: 50px;
    font-size:16px;
    cursor: pointer;
    margin-top: 15px;
}

button.submit-btn:hover {
    background-color: #202f15;
}

button:hover {
    background-color: #3b8bd3;
}

.already-account, .register-account {
    text-align: center;
    margin-top: 15px;
}

.already-account a, .register-account a {
    color: #4da6ff;
    text-decoration: none;
}

.already-account a:hover, .register-account a:hover {
    text-decoration: underline;
}
